node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
calculator/node_modules/**/*
calculator/.expo/*
calculator/npm-debug.*
calculator/*.jks
calculator/*.p12
calculator/*.key
calculator/*.mobileprovision
mines/node_modules/**/*
mines/.expo/*
mines/npm-debug.*
mines/*.jks
mines/*.p12
mines/*.key
mines/*.mobileprovision
node_modules
